{% extends 'base.html' %}

{% block title %}
Изменение информации о потенциальном клиенте
{% endblock %}

{% block body %}
<h1>Изменение информации о потенциальном клиенте</h1>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
<br>
<div>
    <a href="{% url 'clients:client-detail' pk=object.pk %}" class="btn btn-secondary">Вернуться к потенциальному клиенту</a>
</div>
{% endblock %}
