{% extends 'services/base.html' %}

{% block title %}
Создание записи о потенциальном клиенте
{% endblock %}

{% block body %}
<h1>Создание записи о потенциальном клиенте</h1>
<div class="mb-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
<div class="mb-3">
    <a href="{% url 'clients:client-list' %}" class="btn btn-secondary">Вернуться к списку потенциальных клиентов</a>
</div>
{% endblock %}
