{% extends 'services/base.html' %}

{% load i18n %}

{% block title %}
Услуга #{{ object.pk }}
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Услуга #{{ object.pk }} {{ object.title }}</h1>
        <p class="card-text">Описание: {{ object.description }}</p>
        <p class="card-text">Стоимость: {{ object.price }} руб.</p>
</div>
<br>
<div>
    <a href="{% url 'services:service_update' pk=object.pk%}" class="btn btn-secondary">Изменить услугу</a>
</div>
<br>
<div>
    <a href="{% url 'services:service_delete' pk=object.pk%}" class="btn btn-secondary">Удалить услугу</a>
</div>
<br>
<div>
    <a href="{% url 'services:service-list' %}" class="btn btn-secondary">Вернуться к списку услуг</a>
</div>
{% endblock %}
