{% extends 'base.html' %}

{% load i18n %}

{% block title %}
Список услуг
{% endblock %}

{% block body %}
<h1>Услуги</h1>
<div class="list-group">
    {% for service in object_list %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'services:service-detail' pk=service.pk %}">
                    <h5 class="mb-1">Услуга #{{ service.pk }} {{ service.title }}</h5>
                </a>
            </div>
            <a href="{% url 'services:service_delete' pk=service.pk %}" class="btn btn-sm btn-danger">
                Удалить
            </a>
        </div>
    {% empty %}
        <div class="list-group-item">Услуг еще нет</div>
    {% endfor %}
</div>

<div>
    <a href="{% url 'services:service_create' %}" class="btn btn-secondary">Создать новую услугу</a>
</div>
{% endblock %}
