{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Смена пароля</h2>

    <form method="post" novalidate>
        {% csrf_token %}

        {% bootstrap_form form %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
    </form>


</div>
{% endblock %}
