{% extends 'services/base.html' %}

{% block title %}
Создание рекламной кампании
{% endblock %}

{% block body %}
<h1>Создание рекламной кампании</h1>
<div class="mb-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
</div>
<div class="mb-3">
    <a href="{% url 'advertisement:advertisement-list' %}" class="btn btn-secondary">Вернуться к списку рекламных кампаний</a>
</div>
{% endblock %}
