{% extends 'base.html' %}

{% load i18n %}

{% block title %}
Список контрактов
{% endblock %}

{% block body %}
<h1>Контракты</h1>
<div class="mb-3">
    <form method="get">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Найти</button>
          <input name="search_text" type="text" class="form-control" placeholder="Введите текст для поиска" value="{{ search_text }}" aria-label="Example text with button addon" aria-describedby="button-addon1">
        </div>
    </form>
</div>
<br>
<div>
    <a href="{% url 'contracts:contract_create' %}" class="btn btn-secondary">Создать новый контракт</a>
</div>
<br>
<div class="list-group">
    {% for contract in object_list %}
        <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <a href="{% url 'contracts:contract-detail' pk=contract.pk %}">
                    <h5 class="mb-1">Контракт #{{ contract.pk }} {{ contract.title }}</h5>
                </a>
            </div>
            <a href="{% url 'contracts:contract_delete' pk=contract.pk %}" class="btn btn-sm btn-danger">
                Удалить
            </a>
        </div>
    {% empty %}
        {% if search_text %}
            <div class="list-group-item">По вашему запросу контракты не найдены</div>
        {% else %}
            <div class="list-group-item">Контрактов еще нет</div>
        {% endif %}

    {% endfor %}
</div>
{% endblock %}
