{% extends 'contracts/base.html' %}
{% load django_bootstrap5 %}

{% block title %}Создание контракта{% endblock %}

{% block body %}
    <h1>Создание контракта</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

<div class="mb-3">
    <a href="{% url 'contracts:contract-list' %}" class="btn btn-secondary">Вернуться к списку контрактов</a>
</div>
{% endblock %}
